<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wenjie.app.Tanxun"
    android:versionCode="1"
    android:versionName="1.0" >
	  <!-- 最小兼容版本  ,目标版本-->
    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="17" />
    <!-- 网络权限 -->
	<uses-permission android:name="android.permission.INTERNET"/>
	<!-- WIFI权限-->
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<!-- 允许读取SD卡权限 -->
	<uses-permission android:name="android.permission.READ_PHONE_STATE"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.READ_LOGS"/>
	<uses-permission android:name="android.permission.WAKE_LOCK"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/NoTitleBarTheme" >
        <activity
            android:name="com.wenjie.app.Tanxun.activity.LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.wenjie.app.Tanxun.activity.BaseActivity"></activity>
        <activity android:name="com.wenjie.app.Tanxun.activity.fragment.Frag_activity.ModifyInfoActivity"></activity>
        <service android:name="com.wenjie.app.Tanxun.service.UploadIconService"></service>
    </application>

</manifest>
